button:hover{
    color: black;
    background-color: white;
    border-color: black;
}

 label{
     margin-right: 25px;
  

 }
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
img{
    width: 40%;
}
button{
    width: 20%;
    
}
#sout{
    width:100%
}
.anychart-credits{
    opacity: 0;
}

input{
    position: relative;
}
#attendenceform{
    width: 100%;
}

div#container {
  max-width: 500px;
  margin: auto;
  width: 400px;
  height: 400px;
  
}
#back{
    float:left;
    width:60px;
    margin:10px;
}
td{
    
    text-align: center;
    font-family:  Helvetica, sans-serif;
    
}
tr{
    text-align: center;
    font-family:  Helvetica, sans-serif;
    
}
#btn1:hover{
    color: black;
    background-color: white;
    border-color: black;
}
.column {
  flex: 50%;
  padding: 10px;
  /* height: 300px;  */
}
.row {
  display: flex;
}

table.dates{
    font-size: 1.5em;
    height: 400px;
    width : 400px;
    
}
table.atte{
    font-size:1.3em;
    height:400px;
    width:600px;
}


